{% extends 'LacrocoStoreBundle:Default:layout.html.twig' %}

{% block title %}Оплата заказа{% endblock %}

{% block h1 %}Оплата заказа №{{ order.Id }}.{% endblock %}
{% block content %}
<div class="alert alert-info">
Вам был успешно выставлен счет в системе Qiwi кошелек.
</div>
<h2>Краткая инструкция по оплате</h2>
<ul>
<li>Подойдите к терминалу QIWI, нажмите среднюю кнопку QIWI Кошелек и введите номер мобильного, который вы указали при формировании заказа</li>
<li>Нажмите мигающую кнопку "СЧЕТА К ОПЛАТЕ"</li>
<li>Оплатите счет наличными</li>
<li>Сдачу вы можете перевести на свой мобильный телефон или использовать для оплаты других услуг</li>
</ul>
{% endblock %}
