<ul class="breadcrumb">
{% for crumb in breadcrumbs %}
  <li class="active" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{{ crumb.url }}" itemprop="url"><span itemprop="title">{{ crumb.title }}</span></a>
    {% if not loop.last %}
    <span class="divider">/</span>
    {% endif %}
  </li>
{% endfor %}
</ul>
